.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    height: 50px;
    background-color: rgb(251, 251, 251);
   
    
    
}



.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: black;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(22, 22, 43);
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    text-decoration: none;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: rgb(128, 3, 3);
}

.nav-loging-cart{
    display: flex;
    align-items: center;
    gap: 45px;

}
.nav-loging-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-loging-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: aliceblue;
}



/*     <li onClick={() => { setMenu("shop") }}><Link style={{textDecoration: 'none'}} to='/'>Shop</Link>{menu === "shop" ? <hr /> : <></>}</li>
        <li onClick={() => { setMenu("mens") }}><Link style={{textDecoration: 'none'}} to='/mens'>Men</Link>{menu === "mens" ? <hr /> : <></>}</li>
        <li onClick={() => { setMenu("womens") }}><Link style={{textDecoration: 'none'}} to='/womens'>Women</Link>{menu === "womens" ? <hr /> : <></>}</li>
        <li onClick={() => { setMenu("kids") }}><Link style={{textDecoration: 'none'}} to='/kids'>Kids</Link>{menu === "kids" ? <hr /> : <></>}</li>

         <li onClick={() => { setMenu("shop") }}>Shop{menu === "shop" ? <hr /> : <></>}</li>
        <li onClick={() => { setMenu("mens") }}>Men{menu === "mens" ? <hr /> : <></>}</li>
        <li onClick={() => { setMenu("womens") }}>Women{menu === "womens" ? <hr /> : <></>}</li>
        <li onClick={() => { setMenu("kids") }}>Kids{menu === "kids" ? <hr /> : <></>}</li>


         <Link to='/login'><button>Login</button></Link> 
       <Link to='/cart'><img src={cart_icon} alt="" /></Link> 
        <div className="nav-cart-count">0</div>

          <button>Login</button>
       <img src={cart_icon} alt="" />



         <Routes>
      <Route path='/' element={<Shop/>}/>
      <Route path='/mens' element={<ShopCategory catagory="men"/>}/>
      <Route path='/Womens' element={<ShopCategory catagory="women"/>}/>
      <Route path='/kids' element={<ShopCategory catagory="kid"/>}/>
      <Route path="/product" element={<Product/>}>
        <Route path=':productId' element={<Product/>}/>

      </Route>
      <Route path='/cart' element={<Cart/>}/>
      <Route path='/login' element={<LoginSignup/>}/>
     </Routes>
            const [menu,setMenu] = useState("shop");*/